{% extends "base.html" %}

{% block head %}
<title>autumn's page</title>
<script src="/index.js" defer></script>
{% endblock head %}

{% block content %}
<p>hi, i'm autumn! i'm trying to make computers pure, beautiful, and true. i also like languages (and making them), as well as music.</p>
<p>to get around the site, please use the navbar to your left (or hit the menu button). ゆっくりしていってね!~</p>
<p>(the site is also still very much under construction... excuse the mess!)</p>
<div id="nowlistening" class="js-only"></div>
{% endblock content %}